<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>

<body>

    <div align= "center" th:each="profile : ${listContact}" class="card" style="width: 2rem;">
        <img src="Imagen/serveimage.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" th:text="${profile.name}">Nombre:</h5>
            <ul class="list-group list-group-flush">
                <li class="age" th:text="${profile.age}">Edad:</li>
                <li class="gender" th:text="${profile.gender}">Género:</li>
                <li class="description" th:text="${profile.description}">Descripción:</li>
            </ul>
        </div>
    </div>

</body>

</html>
