<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>

<body>

    <div align= "center" th:each="profile : ${profilesList}" class="card" style="width: 2rem;">
        <img src="Imagen/serveimage.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" th:text="${profile.name}">Nombre:</h5>
            <ul class="list-group list-group-flush">
                <li class="age" th:text="${profile.age}">Edad:</li>
                <li class="gender" th:text="${profile.gender}">Género:</li>
            </ul>
            <div class="card-body">
                <a class="like" th:href="@{like(id=${profile.id_profile})}">LIKE</a>
                <a class="dislike" th:href="@{dislike(id=${profile.id_profile})}">DISLIKE</a>
            </div>
        </div>
    </div>

</body>

</html>