<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>LUCATINDER</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
</head>
<body>

	<img src="Images/lucatinder.PNG" class="sticky-top" width=50%;
		float=left; position=-webkit-sticky; alt="Responsive image">



	<a class="is" href="/mvc/profile/login" style="color: white;"
		role="button">Iniciar Sesión</a>
	<a class="ra" href="/mvc/profile/new" style="color: white; margin-top: 25px;"
		role="button">Registrarse</a>

	<div class="row" alt="Responsive image">
		<div class="col-10 col-s-10 menu" style="width: 600px; height: 962px;"
			float="left;">
			<div class="description" style="margin-top: 20%;">
				<p class="line1"
					style="color: white; margin-left: 16%; text-align: center;">Haz
					que cada momento cuente.</p>
				<p class="line1"
					style="color: white; margin-left: 16%; text-align: center;">
					LucaTinder es mucho más que</p>
				<p class="line1"
					style="color: white; margin-left: 16%; text-align: center;">una
					app para encontrar pareja.</p>
				<p class="line1"
					style="color: white; margin-left: 16%; text-align: center;">Es
					un movimiento cultural.</p>
				<p class="line1"
					style="color: white; margin-left: 16%; text-align: center;">Te
					damos la bienvenida a</p>
				<p class="line1"
					style="color: white; margin-left: 16%; text-align: center;">#ChooseYourLife.</p>
			</div>
			<div class="avatars" style="margin-top: 20%;"
				position=-webkit-sticky;>
				<p>
					<img src="Images/1.png" alt="Avatar"
						content="width=device-width, initial-scale=1"
						style="width: 75px; border-radius: 100%; text-align: center; margin-left: 45%; border: 1px solid white;">
				</p>
				<p>
					<img src="Images/2.png" alt="Avatar"
						content="width=device-width, initial-scale=1"
						style="width: 75px; border-radius: 100%; text-align: center; margin-left: 45%; border: 1px solid white;">
				</p>
				<p>
					<img src="Images/3.png" alt="Avatar"
						content="width=device-width, initial-scale=1"
						style="width: 75px; border-radius: 100%; text-align: center; margin-left: 45%; border: 1px solid white;">
			</div>
			</p>
		</div>
</body>
</html>
