<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>PROFILE FORM</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
</head>

<body>


	<form class="form-signin" th:action="save" th:object="${profile}"
		method="post">
		<div class="text-center mb-4">
			<h1 class="h1 mb-3 font-weight-normal">REGÍSTRATE</h1>
			<p>
				Estas a un paso de entontrar el amor<br>
				<code>Muchos de nuestros usuarios quieren conocerte</code>
				Regalate una oportunidad de encontrar el amor
			</p>
		</div>
		<input type="hidden" th:field="${profile.id_profile}" />

		<div class="form-label-group">
			<input class="form-control" type="text" th:field="${profile.name}"
				required autofocus /> <label for="${profile.name}">User</label>
		</div>
	<div class="form-label-group">
			<input class="form-control" type="text" th:field="${profile.password}" />
			 <label for="${profile.password}">Password</label>
		</div>

		<div class="form-label-group">
			Género:
			<div class="custom-control custom-radio">
				<input type="radio" class="custom-control-input"
					id="defaultUnchecked" name="defaultExampleRadios"> <label
					class="custom-control-label" for="defaultUnchecked">Hombre</label>
			</div>
			<div class="custom-control custom-radio">
				<input type="radio" class="custom-control-input" id="defaultChecked"
					name="defaultExampleRadios" checked> <label
					class="custom-control-label" for="defaultChecked">Mujer</label>
			</div>
		</div>

		<div class="form-label-group">
			<input class="form-control" type="number" th:field="${profile.age}" />
			<label for="${profile.age}">Age</label>
		</div>


		<div class="form-label-group">
			<input class="form-control" type="text"
				th:field="${profile.description}" /> <label
				for="${profile.description}">Description</label>
		</div>

		<div class="form-label-group">
			Género Deseado:

			<div class="form-check">
				<input type="radio" class="form-check-input" id="materialUnchecked"
					name="materialExampleRadios"> <label
					class="form-check-label" for="materialUnchecked">Hombre</label>
			</div>

			<div class="form-check">
				<input type="radio" class="form-check-input" id="materialChecked"
					name="materialExampleRadios" checked> <label
					class="form-check-label" for="materialChecked">Mujer</label>
			</div>

		</div>

		<div class="form-label-group">

			<input class="form-control" type="number"
				th:field="${profile.desired_age_max}" /> <label
				for="${profile.desired_age_max}">Max age</label>
		</div>

		<div class="form-label-group">
			<input class="form-control" type="number"
				th:field="${profile.desired_age_min}" /> <label
				for="${profile.desired_age_max}">Min age</label>
		</div>
		<div class="form-label-group">
			<input class="form-control" type="hidden" th:field="${profile.image}"
			 /> <label for="${profile.image}">image</label>
		</div>
		<div class="form-label-group">
			<th:block th:each="category : ${categorys}">
	                <input type="checkbox" name="cat" th:value="${category.id_category}"/>
                 	<label th:text="${category.name}"></label>
	        </th:block>
        </div>
		<button colspan="2" class="btn btn-lg btn-primary btn-block"
			type="submit">Aceptar</button>
	</form>

</body>

</html>
