<div class="bg" >
<div class="text-center border border-light p-5">
  <div class="container">
      <img class="mb-4" src="./assets/img/lucatinder1.png" alt="" width="575" height="472">
    <form #myform="ngForm" (ngSubmit)="login(myform)" class="form form-login">
      <div class="form-field">
        <input name="name" id="name" type="text" class="form-control mb-4 q" placeholder="Name" required ngModel>
      </div>
      <!--Mensaje Error-->
      <div class="sign-in-error" *ngIf="hasFailed">
        El usuario no existe
      </div>
      <div class="form-field">
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Log in">
      </div>
    </form>
  </div>
</div>
</div>
