<div class="text-center border border-light p-5">
  <div class="half">
      <img class="mb-4" src="./assets/img/lucatinder.PNG" alt="" width="475" height="372">
  <div class="login-item">
    <form #myform="ngForm" (ngSubmit)="login(myform)" class="form form-login">
      <div class="form-field">
        <input name="name" id="name" type="text" class="form-control mb-4 q" placeholder="Name" required ngModel>
      </div>
      <div class="form-field">
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Log in">
      </div>
    </form>
  </div>
</div>
<div class="half"></div>
</div>