<div *ngFor="let profile of profiles">
    <div class="card" style="text-align: center; float:left; margin: 20px;">
        <img class="card-img-top" [src]="profile.image" style="height: 200px; width: 200px; ">  
        <div class="card-body">
            <div class="card-title">
                <h4>{{ profile.name }}</h4>
            </div>

            <div class="card-text">
                <a>{{ profile.age }}</a></div>
                <div class="card-text"> <a>{{ profile.gender }}</a> </div>
                    <div class="card-text"> <a>{{ profile.description }}</a> </div>
            
            <a *ngIf="home"><button (click)="like(profile)">Like!</button> </a>
            <a *ngIf="home"><button (click)="dislike(profile)">Dislike!</button> </a>
        </div>
    </div>
</div>
