
<div class='md-padding' layout="row" layout-wrap>
    <mat-card class="example-card" *ngFor="let profile of profiles">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Nombre: {{ profile.name }}</mat-card-title>
            <mat-card-subtitle *ngIf="profile.gender">Genero: Hombre </mat-card-subtitle>
            <mat-card-subtitle *ngIf="!profile.gender">Genero: Mujer</mat-card-subtitle>
            <mat-card-subtitle>Edad: {{ profile.age }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="profile.image" alt="Photo of a Shiba Inu" style="height: 300px; width: 300px;">
        <mat-card-content>
            <p>
               Descripcion: {{ profile.description }}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button *ngIf="home" mat-button (click)="like(profile)">LIKE</button>
            <button *ngIf="home" mat-button (click)="dislike(profile)">DISLIKE</button>
        </mat-card-actions>
    </mat-card>
</div>
