<div class="container" >
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="list-inline-item"><a routerLink="/login" class="btn btn-info">Login</a></li>
          <li class="list-inline-item"><a routerLink="/register" class="btn btn-info">Register</a></li>
          <li class="list-inline-item"><a routerLink="/home" class="btn btn-info">Home</a></li>
          <li class="list-inline-item"><a routerLink="/contacts" class="btn btn-info">Contacts</a></li>
          <li class="list-inline-item"><a routerLink="/discards" class="btn btn-info">Discards</a></li>
          <li class="list-inline-item"><a routerLink="/matches" class="btn btn-info">Matches</a></li>
          <li class="list-inline-item"><a routerLink="/profile" class="btn btn-info">My profile</a></li>
      </ul>
      <form class="form-inline my-2 my-lg-0" *ngIf="logged">
        <input class="form-control mr-sm-2" type="search"
          placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
      </form>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>